<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berita Gempa</title>
</head>
<body>
    <div class="app-bar text-center">
        <h2>Berita Gempa</h2>
    </div>
    <div class="headline text-center"></div>
    <div class="container">
        <h2 class="mb">15 Berita Gempa Lainnya</h2>
    </div>
    <footer>
        Sumber data : BMKG (Badan Meteorologi, Klimatologi, dan Geofisika)
    </footer>
</body>
</html>